<div class="FileManager text-left">
    <div class="FMHeader">
        <h1> <i class="material-icons">folder</i> FileManager</h1>
    </div>
    <div class="border-bottom"></div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <div class="FMBody">
        <ul class="list-group list-group-flush" >
            <li class="list-group-item" *ngFor="let dir of Directories">
                <i class="material-icons" *ngIf="dir.Type == 'Folder'">folder</i>
                <i class="material-icons" *ngIf="dir.Type != 'Folder'">insert_drive_file</i>
                <span> {{dir.Name}}</span>
            </li>
        </ul>
    </div>
</div>