.FileManager{
    background-color: white;
    border-radius: 4px;
}

.FMBody{
    /* margin: 20px; */
    overflow: auto;
    height: 425px;
}

.FMHeader{
    padding:20px;
}

ul{
    margin-bottom: 20px;
}

.folder:hover{
    background-color: #dee2e6;
}