.FileManager{
    background-color: white;
}

.FMBody{
    /* margin: 20px; */
    overflow: auto;
    height: calc(100vh - 278px);
}

.FMHeader{
    padding:20px;
}

ul{
    margin-bottom: 20px;
}

.folder:hover{
    background-color: #dee2e6;
}