<div class="FMHeader">
    <h1> <i class="large material-icons">folder</i> Server File Manager</h1>
</div>
<div class="card-wrapper px-3">
    <div class="card ">
        <mat-progress-bar *ngIf="isloading" mode="indeterminate"></mat-progress-bar>
        <div class="modal fade" id="CreateFolderModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <label>{{CurrentPath}}/{{FolderName}}</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Folder Name :</span>
                                </div>
                                <input name="FolderName" [(ngModel)]="FolderName" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" (click)="CreateFolder()">Create Folder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-4 card-shadow card-vh">
        <div class="FMbuttons row">
            <div class="col-md-4 d-flex align-items-center current-directory pl-3">
                <span>
                    <b>Current Directory:</b> {{CurrentPath}}
                </span>
            </div>
            <div class="col-md-8">

                <button (click)="GoBack()" class="btn btn-sm float-right btn-secondary" style="margin: 20px 10px 20px 10px;">
                    <i style="vertical-align: middle;" class="material-icons">arrow_back_ios</i>
                    Back
                </button>
                <button data-toggle="modal" data-target="#CreateFolderModal" class="btn btn-sm float-right btn-primary"
                    style="margin: 20px 10px 20px 10px">
                    <i style="vertical-align: middle;" class="material-icons">create_new_folder</i>
                    Create Folder
                </button>
                <button (click)="CreateFolder()" class="btn btn-sm float-right btn-warning" style="margin: 20px 10px 20px 10px">
                    <i style="vertical-align: middle;" class="material-icons">edit</i>
                    Rename Folder
                </button>
            </div>
        </div>
        <div class="FMmenu">
            <div class="FMBody border-top ">
                    <div *ngIf="Directories == null" align="center" style="margin-top: 150px;">
                        <i class="material-icons"
                            style="vertical-align: middle;font-size: 50pt;">sentiment_very_dissatisfied</i>
                        <h5>Nothing to show</h5>
                        <button (click)="GoBack()" class="btn btn-secondary" style="margin: 20px 10px 20px 10px;">
                            <i style="vertical-align: middle;" class="material-icons">arrow_back_ios</i>
                            Go Back
                        </button>
                    </div>
                    <div class='table-responsive'>
                        <table class="table table-hover ">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Size</th>
                                    <th>Last Modified</th>
                                </tr>
                            </thead>
                            <tbody class='table-y-auto'>
                                <tr *ngFor="let dir of Directories" class="folder"
                                    (dblclick)="GetDirectory(dir.Name,dir.Type)" (click)="selectFolder($event)">
                                    <td>
                                        <span *ngIf="dir.Type != 'Folder'" style="vertical-align: middle"
                                            class="fiv-viv fiv-icon-{{dir.Type}}" style="font-size: 15pt;margin:5px"></span>
                                        <i class="material-icons" *ngIf="dir.Type == 'Folder'"
                                            style="vertical-align: middle;">folder</i>
                                        <span> {{dir.Name}}</span>
                                    </td>
                                    <td>
                                        <span>Size:</span>
                                        <span ng-if="dir.Type != 'Folder'"> {{dir.Size}}</span>
                                        <span ng-else>4 KB</span>
                                    </td>
                                    <td>
                                        <span> {{moment(dir.LastModified).format('ll HH:mm')}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!-- <li >
                                    <div class="row">
                                        <div class="col-sm-2">
                                            
                                        </div>
                                        <div class="col-sm-2">
                                            
                                            <div *ngIf="dir.Type != 'Folder'" >
                                                <span>Type:</span>
                                                <span> .{{dir.Type}}</span>
                                                <br>
                                                <span>Size:</span>
                                                <span> {{dir.Size}} KB</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <span>Last Modified:</span>
                                            <span> {{dir.LastModified}}</span>
                                        </div>
                                    </div>
                                </li> -->
                    </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="CreateFolderModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Folder</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" (click)="CreateFolder()">Create Folder</button>
            </div>
        </div>
    </div>
</div>