*{
    color: #6c757d;
}

body {
  background-color: #b2bec3;
  height: 100vh;
}

ul{
    background-color: white;
    margin-bottom: 0px;
}

.nav-header{
    text-align: center;
}

.nav-body{
    text-align: left;
}

.Name{
    padding: 20px;
}

.sidebar{
    text-decoration: none;
    list-style: none;
    padding:0px;
    height: 100%;
}

.content{
    height:100%;
    padding: 0px;
    width: 100px;
    margin: 0px;
}

.menu-item{
    padding:20px;
    vertical-align: middle;
    text-decoration: none;
}

.menu-item:hover{
    background-color: #dee2e6;
}

.dashboard{
    /* margin-top: 0px; */
    height:100%;
    margin: 0px;
}

.lds-ripple {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  /* border: 4px solid #cef; */
  border: 4px solid #6c757d;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.loader{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-container{
    position: absolute;
    top: 0;bottom: 0%;
    left: 0;right: 0%;
    background-color: black;
    z-index: 99;
    opacity: 80%;
}

